<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bg-dark-custom {
            background-color: #1a2b1c !important;
        }
        .bg-secondary-custom {
            background-color: #2b3a2b !important;
        }
        .bg-contrast {
            background-color: #2c3e2c !important;
        }
        .bg-beige {
            background-color: #f5deb3 !important;
        }
        .text-light-custom {
            color: #f8f9fa !important;
        }
    </style>
</head>
<body class="bg-dark-custom text-light-custom">
    <nav class="navbar navbar-light bg-beige">
        <div class="container text-center">
            <a class="navbar-brand mx-auto text-beige" href="#">
                BookStore <img src="static/bookstore_icon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
            </a>
        </div>
    </nav>
    
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card bg-contrast text-light-custom">
                    <div class="card-header text-center bg-contrast text-light-custom">
                        <h1>Menu Principal</h1>
                    </div>
                    <div class="card-body bg-contrast text-light-custom">
                        <ul class="list-group">
                            <li class="list-group-item bg-dark-custom text-light-custom"><a href="{{ url_for('catalogo') }}" class="text-light-custom">Catálogo</a></li>
                            <li class="list-group-item bg-dark-custom text-light-custom"><a href="{{ url_for('pesquisar_livro') }}" class="text-light-custom">Pesquisar Livro</a></li>
                            <li class="list-group-item bg-dark-custom text-light-custom"><a href="{{ url_for('pesquisar_pedido') }}" class="text-light-custom">Pesquisar Pedido</a></li>
                            <li class="list-group-item bg-dark-custom text-light-custom"><a href="{{ url_for('historico') }}" class="text-light-custom">Histórico de Compras</a></li>
                            <li class="list-group-item bg-dark-custom text-light-custom"><a href="{{ url_for('logout') }}" class="text-light-custom">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
